*{
    margin: 0%;
    padding: 0%;
}
body{
    background: url(../images/city.jpg);
}
.css{
    text-align: center;
    width: 250px;
    padding: 30px;
    background-color:rgba(249, 243, 243, 0.5);
    margin: 80px auto;
    background-repeat: no-repeat;
    height: 340px; 
    line-height: 2;
}
.css img{
    width: 20%;
}
.css{
    color: white;
    font-size: 20px;
}
.css input[type="text"],input[type="email"], input[type="password"]{
    padding: 10px;
    margin: 10px auto;
    border: none;
    background-color: rgb(253, 248, 248);
}
.css button[type="submit"]{
   border: none;
     width: 185px;
    padding: 8px;
    margin: 5px;
    color: white;
    background-color: rgba(6, 220, 45, 0.97)
}
.css>a{
   margin-right: 80px;
    text-decoration: none;
    color: black;
}
